* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainsMono Nerd Font Propo', Roboto, Helvetica, Arial, sans-serif;
    font-size: 11px;
	border-radius: 0px;
	border: none;
}

window#waybar {
	background-color: transparent;
	color: #ebdbb2;
}

.modules-left, .modules-right, .modules-center {
	background-color: #282828;
	border-radius: 8px;
	margin: 10px 10px 0px 10px;
	padding: 4px;
}


#window {
	border-radius: 4px;
	padding: 0.7em 1em;
	border: 2px solid #d79921;
}

.modules-left > * > label {
	margin-left: 4px;
	padding: 0px 0.7em;
}

button {
	color: inherit;
	min-width: 0;
	border-radius: 0px;
	outline: none;
	background-clip: border-box;
}

#workspaces button {
	padding: 0px 0.75em;
	border-radius: 0px;
	border-top: 2px solid #d79921;
	border-bottom: 2px solid #d79921;
	border-left: none;
	border-right: none;
}

#workspaces button:first-child {
	border-left: 2px solid #d79921;
	border-radius: 4px 0px 0px 4px;
}

#workspaces button:last-child {
	border-right: 2px solid #d79921;
	border-radius: 0px 4px 4px 0px;
}

#workspaces button:only-child {
	border-left: 2px solid #d79921;
	border-right: 2px solid #d79921;
	border-radius: 4px;
}

#workspaces button:hover {
	background: transparent;
	box-shadow: none;
}

#workspaces button.focused {
	background-color: #d79921;
	color: #282828;
}

#workspaces button.urgent {
	background-color: #cc241d;
}

#mode {
	border-bottom: 2px solid #d79921;
	color: #d79921;
}

.modules-right label,
.modules-right #tray {
	padding: 0px 0.7em;
	border-radius: 4px;
	margin-right: 4px;
	background-color: #928374;
}

.modules-right #tray {
	margin-right: 0px;
	background-color: transparent;
}

#idle_inhibitor.activated {
	color: #282828;
	background-color: #ebdbb2;
}

#idle_inhibitor.deactivated {
	color: #282828;
	background-color: #a89984;
}

#pulseaudio {
	background-color: #458588;
}

#pulseaudio:hover {
	background-color: #83a598;
}

#memory {
	background-color: #98971a;
}

#temperature {
	background-color: #d65d0e;
}

#backlight {
	background-color: #fabd2f;
	color: #282828;
}

#clock {
	background-color: transparent;
}
