* {
	font-family: 'JetBrainsMono Nerd Font Propo';
	font-size:13px;
	background: transparent;
}

window {
	color: #ebdbb2;
}

#outer-box {
	background-color: #282828;
	padding: 8px;
	border-radius: 16px;
}

#input{
	margin-bottom: 8px;
	background-color: #282828;
	color: #ebdbb2;
	border: 2px solid #d79921;
	padding: 5px 10px;
	border-radius: 8px;
}

#scroll {
	background-color: #282828;
	border: 2px solid #d79921;
	border-radius: 8px ;
}

#entry {
	padding: 10px 1em;
}

#entry image {
	margin-right: 1em;
}

#entry:selected {
	background-color: #d79921;
	color: #282828;
	border-radius: 0px;
	outline: none;
}

#text {
	color: inherit;
}
